/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 800px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#boven{
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    border-bottom: 20px solid darkblue ;
    width: 100%;
    height: 50%;
}   
#linksboven{
    background-color: red;

    width: 35%;
    height: 80%;
    border-bottom: white solid 20px;
    border-right: white solid 20px ;
}
#rechtsboven{
    background-color: red;

    width: 55%;
    height: 80%;
    border-bottom: white solid 20px;
    border-left: white solid 20px ;
}

#onder{
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    border-width: 20px solid darkblue ;
    width: 100%;
    height: 45.7%;
    
}
#linksonder{
    background-color: red;

    width: 55%;
    height: 92%;
    border-top: solid 20px white;
    border-left: white solid 20px;
}
#rechtsonder{
    background-color: red;

    width: 35%;
    height: 92%;
    border-top: solid 20px white;
    border-right: white solid 20px;
}
 






 



